<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Taxi Rental Management {% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/register-manager">Register Manager</a></li>
          <li><a href="/login-client">Client Login</a></li>
          <li><a href="/login-driver">Driver Login</a></li>
        </ul>
      </nav>
    </header>

    <main>{% block content %}{% endblock %}</main>

    <footer>
      <p>&copy; 2025 Taxi Rental Management. All Rights Reserved.</p>
    </footer>
  </body>
</html>
