{% extends "base.html" %} {% block title %}Register as Driver{% endblock %} {%
block content %}
<h1>Register as a Driver</h1>
<form action="/register-driver" method="POST">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" required />

  <label for="number">Number:</label>
  <input type="text" id="number" name="number" required />

  <label for="street">Street:</label>
  <input type="text" id="street" name="street" required />

  <label for="city">City:</label>
  <input type="text" id="city" name="city" required />

  <button type="submit">Register</button>
</form>
{% endblock %}
