{% extends "base.html" %} {% block title %}Address Management{% endblock %}

{% block content %}
<h1>Address Management</h1>
<p>
Your current address is: {{ driver.number }} {{ driver.street }} {{ driver.city }}. You can update your address below.
</p>
<form action="/update-address/{{ driver.driverid }}" method="POST">
    <label for="number">Number:</label>
    <input type="text" id="number" name="number" required />

    <label for="street">Street:</label>
    <input type="text" id="street" name="street" required />

    <label for="city">City:</label>
    <input type="text" id="city" name="city" required />
    <button type="submit">Update</button>
</form>
{% endblock %}
    