{% extends "base.html" %}
{% block title %}Your Booked Rents{% endblock %}

{% block content %}
<h1>Your Booked Rents</h1>

<table border="1">
    <thead>
        <tr>
            <th>Date</th>
            <th>Car Model</th>
            <th>Driver</th>
        </tr>
    </thead>
    <tbody>
        {% for booking in bookings %}
        <tr>
            <td>{{ booking.rent_date }}</td>
            <td>Model {{ booking.modelid }} (Car {{ booking.carid }})</td>
            <td>{{ booking.driver_name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
